{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


<div class="container">
    <h1>Bonjour Marie! ✅</h1>
    
    
    <div class="card text-center">

        <div class="card-body">
            <h5 class="card-title">Cet utilisateur n'existe pas!</h5>
        </div>
    </div>

</div>


{% endblock %}